.box_body_E {
    position: fixed ;
    z-index: 1000 ;
    left: 50% ;
    top: 50% ;
    transform: translate(-50%, -50%) ;
    
    padding: 20px;
    
}
.box_E_1{
    display: flex;
    justify-content: center;

    
}

.box_E_2{
    text-align: center;
    width: 550px;
    min-height: 300px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 15px 15px 15px;
    button{
        margin-bottom: 20px;
        color: white;
        background: black;
        border-radius: 10px;
    }
    

}
.box_E_3{
    width: 80%;
    min-height:200px ;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    padding: 10px;
    
    
}