.box_f_1{
  
  max-height: 350px;
  border: 2px solid black;
  margin-right: 20px;
  border-radius: 10px;


  
}

.box_f_2{
    min-height: 700px;
    border: 2px solid black;
    border-radius: 10px;
    /* color: red; */
    
    
}
.box_f1{
    min-height: 100px;
    border: solid 1px black;
    border-radius: 10px;
    background-image: url("backgraond.jpeg");
}
.box_f2{
    position: relative;
    top:-50px;
    left: 10px;
    
    img{
        max-width: 100px;
        max-height: 100px;
        margin-left: 20px;
        border: 2px solid black;
        border-radius: 50%;
        }
        
    

}
.box_f3{
    img{
        max-width: 300px;
        min-height: 570px;
        position: sticky;
    top: 0;
    z-index: 8;
    }}
.box_f_3{
    text-align: right;
    button{
        color: white;
        background: black;
        border-radius: 10px;
        margin-top: 20px;
        /* font-size: 20px; */
        text-align: left;
    }
}
.box_f_6{
    a{
    color: blue;
    text-decoration: none;

}
}