.box_body_s {
    display: flex;
    justify-content: center; /* מרכז אופקי */
    align-items: center; /* מרכז אנכי */
    
}

.box_s {
    width: 100%;
    max-width: 700px;
    padding-right: 30px;
    border: 2px solid black;
    border-radius: 10px;
}